node_modules
.env
coverage
coverage.json
typechain
typechain-types
scripts/testnetLpWallets.csv
test/distributor.ts
# hardhat-tenderly plugin
deployments
EOF
tenderly.yaml

#Hardhat files
cache
artifacts

